body {
  margin: 0;
  font-family: sans-serif;
}

.navBar {
  background-color: darkslategray;
  color: white;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  text-decoration: none;
  align-items: center;
  padding: 5px;
}
.navBarTitle {
  margin-left: 20px;
  font-size: 2rem;
}
.navBarHelp {
  margin-left: auto;
  padding: 10px;
}
.navBarHelp:hover {
  cursor: pointer;
  color: gray;
}

.infoModal {
  display: inline;
  position: absolute;
  top: 0;
  right: 0;
  /* TODO: this css is half broken and not clean */
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.Header {
  text-align: center;
  line-height: 1;
}
.mainHeader {
  height: fit-content;
  font-size: 4em;
  margin-bottom: 0;
}
.underHeader {
  font-size: 0.7em;
}
.userWelcome {
  padding: 20px;
}

.uploadZone {
  width: 75%;
  margin: 0 auto;
  padding: 40px;
}

.displayBox {
  margin: 20px;
  padding: 0 20px;
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 10px;
  margin: auto 50px;
  margin-bottom: 10px;
}

.itemName {
  white-space: nowrap;
  margin: 5px;
  width: 60%;
  overflow-x: auto;
  scrollbar-width: none;
}

.itemName::-webkit-scrollbar {
  display: none;
}
.itemType {
  width: 50px;
  padding: 5px;
}
.itemDel {
  cursor: pointer;
  color: firebrick;
}

.getFilesBtn {
  margin-top: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}
